.upperEchelon {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
  margin: 10px;
  color: azure;
}

.container1 {
  display: flex;
  justify-content: space-between;
  color: #d9cccc;
}
.active {
  background-color: blueviolet;
}
